/**/

body {
  /*about font and text*/
  font-family: 'Open Sans', sans-serif;
  color: #7581a1;
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  /*about width of webpage*/
  width: 100%;
}

h1 {
  font-size: 80px;
  font-weight: 600;
  color: #192b59;
  line-height: 62px;
  max-width: 550px;
}

a {
    text-decoration: none;
}

ul {
  list-style-type: none;
}

.wrap {
  max-width: 1110px;
  margin: 0 auto;
}
.header-menu {
  font-size: 12px;
  font-weight: 700;
  color: #6e7ea9;
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.header-screen .header-menu .link {
  color: #6e7ea9;
}

.header-menu-li {
  padding: 0 15px;
}

.btn-header {
  color: #ffffff;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.5px;
  background-color: #1085e4;
  padding: 16px 44px;
  border: 1px solid #1085e4;
  border-radius: 30px;
  margin-right: 10px;
}

.btn-header:hover {
  background-color: #192b59;
  border: 1px solid #192b59;
}

.header-screen .buttons .btn-start {
  font-size: 10px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  background-color: #1085e4;
  padding: 15px 34px;
  border: 1px solid #1085e4;
  border-radius: 30px;
  margin-right: 20px;
}

.header-screen .buttons .btn-start:hover {
  color: #192b59;
  background-color: #cbdbe8;
  border: 1.5px solid #192b59;
}

.header-screen .buttons .btn-more {
  font-size: 10px;
  font-weight: 800;
  color: #7e8bae;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  background-color: #cbdbe8;
  padding: 15px 30px;
  border: 1px solid #cbdbe8;
  border-radius: 30px;
}

.header-screen .buttons .btn-more:hover {
  color: #fff;
  background-color: #192b59;
  border: 1px solid #192b59;
}

.grid-screen h2 {
  font-size: 40px;
  font-weight: 800;
  color: #192b59;
}

.grid-screen h2 span {
  font-size: 14px;
  color: #1085e4;
  display: block;
  text-transform: uppercase;
}

.grid-element h3 {
  font-size: 20px;
  color: #192b59;
  font-weight: 600;
}

.grid-element a {
  font-size: 14px;
  color: #1085e4;
  font-weight: 400;
  text-decoration: none;
}

.grid-screen .qoute {
  font-size: 14px;
  color: #1085e4;
  font-weight: 400;
}

.grid-screen .qoute span {
  font-size: 16px;
  color: #192b59;
  font-weight: 600;
}

.robot-form-text h2 {
  font-size: 50px;
  font-weight: 600;
  color: #ffffff;
  max-width: 450px;
}

.robot-form-text h2 span {
  font-size: 14px;
  color: #00bffe;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}

.robot-form-text p {
  font-size: 18px;
  color: #dfe8ff;
  font-weight: 400;
}

.robot-form-text button {
  font-size: 11px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  background-color: #1085e4;
  padding: 13px 35px;
  border-radius: 30px;
  border: 0px;
}

.robot-form-text button:hover {
  color: #1085e4;
  background-color: #cbdbe8;
  border: 0px;
}

.screenshot-2 h2 {
  font-size: 50px;
  color: #192b59;
  font-weight: 600;
  line-height: 60px;
  max-width: 580px;
}

.screenshot-2 dl dt {
  font-size: 16px;
  color: #5a6789;
  font-weight: 800;
}

.fun-facts h2 {
  font-size: 50px;
  color: #192b59;
  font-weight: 600;
  line-height: 60px;
  max-width: 450px;
  text-align: center;
  margin: 0 auto;
}

.fun-facts h2 span {
  font-size: 16px;
  color: #1085e4;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
}

.fun-facts ul {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.fun-facts ul li {
  font-size: 12px;
  color: #1085e4;
  font-weight: 600;
  text-transform: uppercase;
  list-style-type: none;
  line-height: 50px;
  text-align: center;
}

.fun-facts ul li span {
  font-size: 60px;
  color: #bacbdc;
  font-weight: 600;
  display: block;
}

.video-screen .video-block .video-text h2 {
  font-size: 50px;
  color: #192b59;
  font-weight: 600;
  line-height: 60px;
  max-width: 500px;
}

.Available {
  font-size: 16px;
  font-weight: 800;
  color: #c4d2dd;
  text-transform: uppercase;
}

.suitable-text h2 {
  font-size: 50px;
  color: #192b59;
  font-weight: 600;
  line-height: 60px;
  max-width: 550px;
}

.suitable-text a {
  font-size: 12px;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #1085e4;
}

.suitable .suitable-block .suitable-text a {
  font-size: 10px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  background-color: #1085e4;
  padding: 15px 34px;
  border: 1px solid #1085e4;
  border-radius: 30px;
}

.suitable .suitable-block .suitable-text a:hover {
  color: #192b59;
  background-color: #cbdbe8;
  border: 1.5px solid #192b59;
}

.easy .easy-block .easy-text a {
  font-size: 10px;
  font-weight: 800;
  color: #7e8bae;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  background-color: #cbdbe8;
  padding: 15px 30px;
  border: 1px solid #cbdbe8;
  border-radius: 30px;
}

.easy .easy-block .easy-text a:hover {
  color: #fff;
  background-color: #192b59;
  border: 1px solid #192b59;
}

.easy-text h2 {
  font-size: 50px;
  color: #192b59;
  font-weight: 600;
  line-height: 60px;
  max-width: 450px;
}

.easy-text a {
  font-size: 12px;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #1085e4;
}

.details-text h2 {
  font-size: 40px;
  font-weight: 600;
  color: #192b59;
  line-height: 60px;
  text-align: center;
  margin: 0 auto;
}

.details-text h2 span {
  font-size: 18px;
  font-weight: 800;
  color: #1085e4;
  display: block;
  text-transform: uppercase;
}

.details .details-text img {
  margin: 70px auto;
}

.clients-text h2 {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  line-height: 60px;
}

.clients-text h2 span {
  font-size: 18px;
  font-weight: 800;
  color: #85c8ff;
  display: block;
  text-transform: uppercase;
}

.client .name {
  font-size: 22px;
  font-weight: 600;
  color: #000958;
}

.client .position {
  font-size: 14px;
  font-weight: 800;
  color: #1085e4;
  text-transform: uppercase;
}

.plan h2 {
  font-size: 40px;
  font-weight: 600;
  color: #192b59;
  line-height: 60px;
  text-align: center;
}

.plan h2 span {
  font-size: 18px;
  font-weight: 800;
  color: #1085e4;
  display: block;
  text-transform: uppercase;
}

.plan .wrap .plan-box .plan-box-item {
  background-color: #f5faff;
  padding: 46px 80px;
}

.plan-box-item h3 {
  font-size: 70px;
  font-weight: 800;
  color: #000958;
  text-align: center;
  margin-bottom: 22px;
}

.plan-box-item h3 .span1 {
  font-size: 20px;
  font-weight: 400;
  color: #192b59;
}

.plan-box-item h3 .span2 {
  font-size: 20px;
  font-weight: 400;
  color: #7b8ab2;
}

.plan-box-item p {
  text-align: center;
  margin-bottom: 50px;
}

.plan-box-item p strong {
  font-size: 14px;
  font-weight: 800;
  color: #1085e4;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.plan .wrap .plan-box .plan-box-item ul {
  font-size: 14px;
  font-weight: 400;
  color: #8085b1;
  line-height: 40px;
  text-align: center;
  list-style-type: none;
  padding: 0 20px;
  margin-bottom: 50px;
}

.plan-box-item a {
  font-size: 12px;
  font-weight: 800;
  color: #8085b1;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.2px;
  background-color: #f5faff;
  border: 1px solid #dce1e5;
  border-radius: 30px;
  padding: 13px 42px;
}

.plan .wrap .plan-box .plan-box-item-active {
  background-color: #192b59;
  padding: 46px 80px;
}

.plan-box-item-active h3 {
  font-size: 70px;
  font-weight: 800;
  color: #fff;
  text-align: center;
  margin-bottom: 22px;
}

.plan-box-item-active h3 .span1 {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.plan-box-item-active h3 .span2 {
  font-size: 20px;
  font-weight: 400;
  color: #7b8ab2;
}

.plan-box-item-active p {
  text-align: center;
  margin-bottom: 50px;
}

.plan-box-item-active p strong {
  font-size: 14px;
  font-weight: 800;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.plan-box-item-active ul{
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 40px;
  text-align: center;
  list-style-type: none;
  margin-bottom: 50px;
  padding: 0 20px;
}

.plan-box-item-active a {
  font-size: 12px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.2px;
  background-color: #1a88e1;
  padding: 13px 42px;
  border-radius: 30px;
}

.plan .wrap .plan-box {
  display: flex;
  justify-content: space-between;
}

.team h2 {
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  line-height: 60px;
  text-align: center;
}

.team h2 span {
  font-size: 18px;
  font-weight: 800;
  color: #85c8ff;
  text-transform: uppercase;
  display: block;
}

.team-box-item h3 {
  font-size: 26px;
  font-weight: 600;
  color: #192b59;
}

.team-box-item h3 span {
  font-size: 14px;
  font-weight: 800;
  color: #1a88e1;
  text-transform: uppercase;
  display: block;
}

.form h2 {
  font-size: 50px;
  font-weight: 600;
  color: #192b59;
}

.form form .name {
  display: block;
}

.form form .email {
  display: block;
}

.form form .message {
  display: block;
}

.form form button {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  background-color: #1085e4;
  letter-spacing: 1.5px;
  padding: 16px 42px;
  border: 0px;
  border-radius: 30px;
  display: block;
}

footer {
  font-size: 16px;
  font-weight: 400;
  color: #b6bae0;
}

footer p a {
  color: #1085e4;
  text-transform: uppercase;
}
